<section *ngIf="resultados$ | async as resultados" class="col-12">
  <div class="grid">
    <div
      class="col-12 md:col-4 cursor-pointer"
      *ngFor="let resultado of resultados"
      [title]="'Clique para assistir ' + resultado.titulo"
      (click)="assistirFilme(resultado.id)"
    >
      <p-card
        [header]="resultado.tituloAnoPublicacao"
        styleClass="bg-purple-900 border-solid border-purple-600 card-titulo-center"
      >
        <ng-template pTemplate="header">
          <div>
            <img class="imagem-filme"
              alt="Imagem do filme"
              [src]="resultado.linkImagem | safe : 'resourceUrl'"
            />
          </div>
        </ng-template>

        <ng-template pTemplate="subtitle">
          <div class="grid text-center">
            <div class="col-12 md:col-6">
              <small>{{ resultado.numeroVisualizacoes }} visualizações</small>
            </div>
            <div class="col-12 md:col-6">
              <p-rating
                [(ngModel)]="resultado.mediaAvaliacoes"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </div>
          </div>
        </ng-template>

        <div class="text-justify">
          <small>{{ resultado.descricao | truncate: 400 }}</small>
        </div>

        <ng-template pTemplate="footer">
          <div class="text-center">
            <small>Adicionado em: {{ resultado.createdAt }}</small>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>
