<div class="box">
  <div class="grid p-fluid">
    <form [formGroup]="formulario" (ngSubmit)="validate()">
      <div class="col-12 tela-login">

        <h1 class="text-center">{{ idEdicao ? 'Editar' : 'Cadastrar' }} filme</h1>

        <div class="p-inputgroup p-mb-3">
          <span class="p-inputgroup-addon"><em [class]="PrimeIcons.BOOK"></em></span>
          <input type="text" pInputText formControlName="titulo" id="tx-titulo" placeholder="Título">
          <app-mensagem-validacao formControlName="titulo"></app-mensagem-validacao>
        </div>
        <div class="p-inputgroup p-mb-3">
          <span class="p-inputgroup-addon"><em [class]="PrimeIcons.ID_CARD"></em></span>
          <textarea rows="5" cols="30" id="tx-descricao" pInputTextarea formControlName="descricao" placeholder="Descrição" maxlength="500"></textarea>
          <app-mensagem-validacao formControlName="descricao"></app-mensagem-validacao>
        </div>
        <div class="p-inputgroup p-mb-3">
          <span class="p-inputgroup-addon"><em [class]="PrimeIcons.IMAGE"></em></span>
          <input type="text" pInputText formControlName="linkImagem" id="tx-linkImagem" placeholder="Link de imagem">
          <app-mensagem-validacao formControlName="linkImagem"></app-mensagem-validacao>
        </div>
        <div class="p-inputgroup p-mb-3">
          <span class="p-inputgroup-addon"><em [class]="PrimeIcons.VIDEO"></em></span>
          <input pInputText type="linkFilme" formControlName="linkFilme" id="tx-linkFilme" placeholder="Link / id do filme">
          <app-mensagem-validacao formControlName="linkFilme"></app-mensagem-validacao>
        </div>

        <div class="p-inputgroup p-mb-3">
          <span class="p-inputgroup-addon"><em [class]="PrimeIcons.USER"></em></span>
          <p-inputNumber inputId="qt-classificacaoIndicativa" formControlName="classificacaoIndicativa" placeholder="Classificação indicativa" [min]="6" [max]="18"></p-inputNumber>
          <app-mensagem-validacao formControlName="classificacaoIndicativa"></app-mensagem-validacao>
        </div>

        <ng-container *ngIf="(generos$ | async) as generos">
          <div class="p-inputgroup p-mb-3">
            <span class="p-inputgroup-addon"><em [class]="PrimeIcons.USER"></em></span>
            <p-multiSelect [options]="generos" formControlName="generos" defaultLabel="Gêneros" display="chip"></p-multiSelect>
            <app-mensagem-validacao formControlName="classificacaoIndicativa"></app-mensagem-validacao>
          </div>
        </ng-container>

        <ng-container  *ngIf="(plataformas$ | async) as plataformas">
          <div class="p-inputgroup p-mb-3">
            <span class="p-inputgroup-addon"><em [class]="PrimeIcons.GLOBE"></em></span>
            <p-dropdown inputId="tp-plataforma" formControlName="plataforma" [options]="plataformas" placeholder="Plataforma"></p-dropdown>
            <app-mensagem-validacao formControlName="plataforma"></app-mensagem-validacao>
          </div>
        </ng-container>

        <hr />

        <div class="grid">
          <div class="col-6">
            <p-button styleClass="p-button-raised" [icon]="PrimeIcons.PLUS" type="submit" label="Cadastrar"></p-button>
          </div>
          <div class="col-6">
            <p-button type="button" styleClass="p-button-raised p-button-secondary" [icon]="PrimeIcons.TIMES_CIRCLE" (onClick)="voltar()" label="Cancelar"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
