<section class="b-container pt-3">
  <div class="grid" *ngIf="filme$ | async as filme">
    <div class="col-12">
      <p-card
        class="text-center"
        [header]="filme.tituloAnoPublicacao"
        [subheader]="filme.generosTexto"
      >
        <p-button
          styleClass="p-button-raised p-button-success"
          [icon]="PrimeIcons.ARROW_LEFT"
          type="button"
          label="Voltar para playlist anterior"
          (click)="voltarParaPlaylist()"
        ></p-button>

        <p-divider></p-divider>

        <ng-container [ngSwitch]="filme?.plataforma?.id">
          <div *ngSwitchCase="1">
            <iframe
              class="maximize-player"
              [src]="filme.linkExibicao | safe : 'resourceUrl'"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div *ngSwitchCase="2">
            <div
              style="
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
              "
            >
              <iframe
                style="
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  overflow: hidden;
                "
                class="maximize-player"
                frameborder="0"
                type="text/html"
                [src]="filme.linkExibicao | safe : 'resourceUrl'"
                width="100%"
                height="100%"
                allowfullscreen
                title="Dailymotion Video Player"
              >
              </iframe>
            </div>
          </div>
        </ng-container>

        <p-divider></p-divider>

        <div class="grid">
          <div class="col-2">
            <p-rating
              [(ngModel)]="filme.mediaAvaliacoes"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
          </div>
          <small class="col-8">Estrelando: {{ filme.atoresTexto }}</small>
          <small class="col-2">
            <i [class]="PrimeIcons.EYE" title="Visualizações"></i>
            {{ filme.numeroVisualizacoes }}</small
          >

          <div class="col-12">
            <p class="text-justify">{{ filme.descricao }}</p>
          </div>
        </div>

        <ng-template pTemplate="footer">
          <app-avaliacoes
            [avaliacoes]="filme.avaliacoes"
            [idFilme]="filme.id"
            [avaliacaoUsuarioLogado]="filme.avaliacaoUsuarioLogado"
            (onAvaliacaoPostada)="cadastrar($event)"
          ></app-avaliacoes>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>
