/* You can add global styles to this file, and also import other style files */


/* Custom, iPhone Retina */
/* @media only screen and (min-width : 320px) {

} */

/* Extra Small Devices, Phones */
/* @media only screen and (min-width : 480px) {

} */

/* Small Devices, Tablets */
/* @media only screen and (min-width : 768px) {

} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width : 992px) {

} */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width : 1200px) {

} */

html {
  height: 100vh;
  background: rgb(51, 27, 99);
  background: radial-gradient(circle, rgba(51, 27, 99, 1) 30%, rgba(0, 0, 0, 1) 100%);
  /*   background: rgb(33, 18, 61);
  background: radial-gradient(circle, rgba(33, 18, 61, 1) 30%, rgba(0, 0, 0, 1) 100%); */
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

.container {
  height: 100% !important;
}

.b-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .b-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .b-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .b-container {
    width: 1170px;
  }
}

.b-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* .card-app-content {

  .p-card,
  .p-card-header,
  .p-card-body,
  .p-card-subheader,
  .p-card-content,
  .p-card-footer {
    padding: 0px !important;
    padding-top: 0.1px !important;
    box-shadow: none;
  }

  .p-card-body {
    height: 100%;
  }
} */

.card-center {

  .p-card,
  .p-card-header,
  .p-card-body,
  .p-card-subheader,
  .p-card-content,
  .p-card-footer {
    height: 100% !important;
  }
}

textarea {
  resize: none;
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext,
.p-inputgroup .p-inputwrapper,
.p-inputgroup .p-inputwrapper>.p-component {
  flex: 1 1 auto;
  width: 100%;
}

body .p-inputtext.ng-touched.ng-invalid,
body p-dropdown.ng-touched.ng-invalid>.ui-dropdown,
body p-autocomplete.ng-touched.ng-invalid>.ui-autocomplete>.ui-inputtext,
body p-calendar.ng-touched.ng-invalid>.ui-calendar>.ui-inputtext,
body p-chips.ng-touched.ng-invalid>.ui-inputtext,
body p-inputmask.ng-touched.ng-invalid>.ui-inputtext,
body p-checkbox.ng-touched.ng-invalid .ui-chkbox-box,
body p-radiobutton.ng-touched.ng-invalid .ui-radiobutton-box,
body p-inputswitch.ng-touched.ng-invalid .ui-inputswitch,
body p-listbox.ng-touched.ng-invalid .ui-inputtext,
body p-multiselect.ng-touched.ng-invalid>.ui-multiselect,
body p-spinner.ng-touched.ng-invalid>.ui-inputtext,
body p-selectbutton.ng-touched.ng-invalid,
body p-inputnumber.ng-touched.ng-invalid,
body p-togglebutton.ng-touched.ng-invalid {
  border: 1px solid #a80000;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tela-login {
  min-width: 40vw;
  max-width: 60vw;
}

.text-center-table {

  th,
  td {
    text-align: center !important;
    vertical-align: middle !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.row-expand-interior {
  padding: 1rem;
  background-color: lightgray;
}

.card-titulo-center {
  .p-card-title {
    font-size: 1.2rem;
    border: 1px solid blueviolet;
    padding: 5px;
    text-align: center;
  }
}

@media only screen and (min-width : 992px) {
  .card-titulo-center {
    height: 662px;
  }
}
