<section class="b-container pt-3">
  <div class="grid" *ngIf="playlist$ | async as playlist">
    <div class="col-12">
      <p-card
        class="text-center"
        [header]="playlist.nome"
        [subheader]="'Atualizado em: ' + playlist.updatedAt"
      >
        <div class="grid">
          <div class="col-12">
            <img [src]="playlist.linkImagem | safe : 'resourceUrl'" width="100%" alt="" />
          </div>
          <div class="col-12">
            <p-rating
            [(ngModel)]="playlist.mediaAvaliacoes"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          </div>
          <div class="col-12 text-justify px-5">
            {{ playlist.descricao }}
          </div>
        </div>

        <p-divider></p-divider>

        <p-accordion class="w-full" [activeIndex]="activeIndex">
          <p-accordionTab *ngFor="let filme of playlist.filmes">
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <img
                  [src]="filme.linkImagem | safe : 'resourceUrl'"
                  class="mr-3"
                  style="max-width: 5%"
                  alt="Imagem filme"
                />
                <span class="vertical-align-middle"> {{ filme.titulo }}</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="grid">
                <div class="col-12 text-center">
                  <p-button
                    styleClass="p-button-raised p-button-success"
                    [icon]="PrimeIcons.VIDEO"
                    type="button"
                    label="Assistir"
                    (click)="assistirFilme(filme.id)"
                  ></p-button>
                </div>
                <div class="col-12">
                  <p class="text-justify">
                    {{ filme.descricao }}
                  </p>
                </div>
                <div class="col-12 text-center">
                  <small>Adicionado em: {{ filme.dataInclusaoPlaylist }}</small>
                </div>
              </div>
            </ng-template>
          </p-accordionTab>
        </p-accordion>

        <ng-template pTemplate="footer">
          <app-avaliacoes
            [avaliacoes]="playlist.avaliacoes"
            [idPlaylist]="playlist.id"
            [avaliacaoUsuarioLogado]="playlist.avaliacaoUsuarioLogado"
            (onAvaliacaoPostada)="cadastrar($event)"
          ></app-avaliacoes>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>
